<div class="container">
  <form class="calculate-form" method="POST", action="/amazon/calculate_price">
    <div class="form-group row">
      <label for="amazon-price" class="col-sm-2 col-form-label">Precio en Amazon</label>
      <div class="col-sm-3">
        <input class="form-control error" name="amazon_price" id="amazon-price" placeholder="Precio en Amazon" data-validation="number" data-validation-error-msg="Introduzca el precio del producto">
      </div>
    </div>
    <div class="form-group row">
      <label for="shipping-price" class="col-sm-2 col-form-label">Precio de envio</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="shipping_price" id="shipping-price" placeholder="Precio de envio" data-validation="number" data-validation-error-msg="Introduzca el precio de envio" >
      </div>
    </div>
    <div class="form-group row">
      <label for="weight" class="col-sm-2 col-form-label">Peso</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="weight" id="weight" placeholder="Peso" data-validation="number" data-validation-error-msg="Introduzca el peso del producto">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" id="calculate-price-btn">Calcular</button>
      </div>
    </div>
  </form>
</div>

<h3>Resultados: </h3>
<div class="form-group row">
  <label for="weight" class="col-sm-2 col-form-label">Mercadolibre(COP)</label>
  <div class="col-sm-3 col-sm-offset-1">
    <input type="text" class="form-control" value="<%= number_to_currency(params[:final_price].to_f.round) %>">
  </div>
</div>
  <div class="form-group row">
    <label for="weight" class="col-sm-2 col-form-label">Ganancia(COP)</label>
    <div class="col-sm-3 col-sm-offset-1">
      <input type="text" class="form-control" value="<%= number_to_currency(params[:total_earnings_pesos].to_f.round) %>">
    </div>
  </div>


<br>
<br>

<% if policy(:amazon).amazon_table? %>
<table class="table table-hover table-bordered table-condensed table-responsive">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @amazon.attributes.each do |k,v| %>
      <% next if k == 'created_at' || k == 'updated_at' || k == 'id' %>
      <tr>
        <td><%= k %></td>
        <form class="amazon-form">
          <td><input name="<%= k %>"value="<%= v %>"></td>
        </form>
      </tr>
    <%end%>
  </tbody>
</table>

<input class="btn btn-primary" id="send-form" type="button" value="Guardar">
<% end %>

<!--Load index.js-->
