
<table class="table table-hover">
    <thead>
      <tr>
        <th><%= sortable "date", "Datum" %> </th>
        <th><%= sortable "article", "Produkt" %></th>
        <th><%= sortable "price", "Summe" %></th>
        <th>Note</th>
        <th colspan="2">Aktion</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |a| %>
        <tr>
          <td><%= a.date %></td>
          <td><%= a.article %></td>
          <td><%= a.price %></td>
          <td><%= a.note %></td>
          <td >
            <%= link_to "Ändern", edit_expense_path(a), class: "btn btn-default alert-info" %>
            <%= link_to "Löschen", a, method: :delete, :data => {:confirm => "Bist du Sicher?"}, class: "btn btn-default alert-danger" %>            
          </td>
        </tr>
      <%end%>
      <tr><td><%= @sum_per_month %></td></tr>
    </tbody>
</table>

<%= paginate @expenses %>



