!!! 5
%html
  %head
    %title Controlling
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
  %body
    /Topnav
    %nav.navbar.navbar-inverse
      .container
        .navbar-
          %button{ :type => "button", :class => "navbar-toggle", "data-toggle"=> "collapse", "data-target"=>".navbar-collpase"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          %a.navbar-brand{:href=>"#"} Navbar
            

        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to "Abmelden", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Konto erstellen", new_user_registration_path
              -#No es necesario poner el metodo GET
              %li= link_to "Anmelden", new_user_session_path  
       
    /End Topnav

    .container
      /menu
      .row
        .col-md-2
          %ul.nav.nav-pills.nav-stacked.red
            %li
              %a{:href => "/expenses/new"} Neu
            - out = get_month
            - 1.upto(out[:month_number]) do |i|
              %li= link_to out[:translator][i][0], controller: "/expenses", month: out[:translator][i][1]             
        .col-md-10
          = render 'layouts/messages'
          = yield      
                  
    
